<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Scroll To Top</title>

    <!-- <link rel="stylesheet" href=""> -->

</head>

<body>

    <!-- Scroll to top -->
    <button id="scroll-top" class="hidden focus:outline-none bg-primary-blue p-4 text-off-white rounded-md text-xl fixed right-4 bottom-[10%] lg:bottom-8 shadow">
        <i class="fa-solid fa-chevron-up"></i>
    </button>

</body>

</html>