@tailwind base;
@tailwind components;
@tailwind utilities;

/* show class */
.show{
    display: flex;
}

.changebackground{
    animation: animate-vision 10s infinite;
    transition: all ease-in-out 900ms;
}

@keyframes animate-vision {
    0% {
        background-color: #00b8d9; /* Teal background */
    }

    25% {
        background-color: #66c2c2; /* Darker Teal */
    }

    50%{
        background-color: #00b8b8; /* Teal */
    }

    100% {
        background-color: #00b8d9; /* Return to Teal */
    }
}

/* Animation for scroll to top */
.bounce-up{
    animation: bounce 2.5s infinite;
    transition: all 500ms ease-in-out;
}

@keyframes bounce{
    0%{
        transform: translateY(0rem);
    }

    50%{
        transform: translateY(-0.7rem);
    }

    100%{
        transform: translateY(0rem);
    }
}

/* Animate icons */
.scale-text{
    animation: animate-icon 4s infinite;
    transition: all 500ms ease-in-out;
}

@keyframes animate-icon{
    0%{
        font-size: 1rem;
    }

    50%{
        font-size: 1.25rem;
    }

    100%{
        font-size: 1rem;
        font-weight: 600;
    }
}

/* Animate screw */
.screw{
    animation: screw-rotate 3s infinite;
    transition: all 500ms ease-in-out;
}

@keyframes screw-rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/* Contact Background */
.gradient-bg {
    background: linear-gradient(135deg, #007bff, #00b8d9);
} 

/* Apply box shadow on hover */
/* .show-shadow{
    transition: all ease-in-out 0.5s;
} */

.show-shadow:hover{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}

.partner-container{
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    /* white-space: nowrap; */
}

/* Style Scroll */
.partner-container::-webkit-scrollbar{
    width: 10px;
}

.partner-container::-webkit-scrollbar-track{
    background-color: #f6f6f6;
}

.partner-container::-webkit-scrollbar-thumb{
    border-radius: 10px;
    border: 2px solid #d1d1d1;
}

.partner-container div{
    flex-shrink: 0;
    overflow: hidden;
}

.partner-container div:hover img{
    filter: grayscale(0.7);
    transform: scale(1.04);
    transition: all 300ms ease-in-out;
}

.make-scroll{
    animation: scroll 30s linear infinite;
}

/* Animate the element to scroll */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    50%{
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Add gray to images in meet our team */
.team:hover img{
    filter: grayscale(0.3);
}

/* Animate mail icon */
.mail{
    animation: mail 2s infinite;
    transition: all 500ms ease-in-out;
}

@keyframes mail{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-1.2rem);
    }

    100%{
        transform: translateY(0);
    }
}